<div class="row">
	<div class="col-sm-8" id="left">
		<!--All apps -->
		<apps-table></apps-table>
	</div>
	<div class="col-sm-8" id="left">
		<!--Recent orders -->
		<div class="panel panel-default">
		    <div class="panel-heading clearfix">
				<b>Recent Orders ({{totalOrders}} total)</b>
		        <div class="btn-group pull-right">
					<a href="javascript:alert('not ready')" ng-click="recoverDeleted()" class="btn btn-default btn-xs" title="Recover deleted order	"><span class="glyphicon glyphicon-trash"></span></a>
					<a href="javascript:alert('not ready')" ng-click="newOrder()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></a>
		     	</div>
		     </div>
			<div class="panel-body">
				<!-- table -->
				<div class="table-responsive">		
					<table class="table table-striped table-condensed table-hover">
						<thead>
							<tr>
								<th>Date</th>
								<th>Performance</th>
								<th>Name</th>
								<th>Email</th>
								<th>Product</th>
								<th>Revenue</th>
								<th>Referral ID</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="order in orders" ng-class="{dim: order.type== 'Manual'}">
								<td>{{order.dt | timeSince}}</td>
								<td> TODO </td>
								<td><a href="" ng-click="openOrder(order.id)" >{{order.first_name + " " + order.last_name}}</a></td>
								<td><a href="mailto:{{order.payer_email}}">{{order.payer_email}}</a></td>
								<td><a href="#/orders?app_id={{order.app_id}}">{{getAppName(order.app_id)}}</a></td>
								<td>{{order.mc_gross - order.mc_fee | currency:'£'}}</td>
								<td>{{order.refID}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4" id="right">
		<ul>
			<div class="panel panel-default ">
				<div class="panel-heading">
					<h3 class="panel-title">To do list</h3>
				</div>
				<!--User details -->
				<div class="panel-body">
					<li><a href="#/milestones">Milestones --»</a></li>
					<li><a href="#/reportcsv">CSV Report --»</a></li>
					<li><a href="">Feedback page</a></li>
					<li><a href="">Activation viewer</a></li>
					<li><a href="">Log viewer</a></li>
				</div>
			</div>
			<li>
				<render-graphs graph-keys="'opw_6month,opm_line_2years,opm_subs_line_2years,opm_1month_line_2years,opm_apps_1year'" type="'1'"></render-graphs>
			</li>
		</ul>
	</div>
</div>
<!-- /.page-content -->