<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<div id="login-box" class="login-box visible widget-box no-border">
			<div class="widget-body loginWidget">
				<div class="widget-main">
					<h4 class="header blue lighter bigger">
						Authorization Required
					</h4>
					<div class="space-16"></div>
					<form name="loginForm" class="form-horizontal" role="form" id="loginForm">
						<div class="form-group">
							<div class="col-sm-12">
								<span class="block input-icon input-icon-right"><input type="text" class="loginField form-control" placeholder="Username" name="Username" ng-model="login.username" required=""> </span>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<span class="block input-icon input-icon-right"><input type="password" class="loginField form-control" placeholder="Password" ng-model="login.password"> </span>
							</div>
						</div>
						<div class="space"></div>
						<div class="clearfix">
							<div class="row">
								<div class="col-sm-12">
									<button type="submit" class="width-35 btn btn-sm btn-primary" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">Login</button>
								</div>
							</div>
						</div>
						<div class="space-4"></div>
					</form>
				</div><!-- /widget-main -->
			</div><!-- /widget-body -->
		</div><!-- /login-box -->
	</div>
</div>
