<render-navbar></render-navbar>
<div id="page-content-wrapper">
	<div class="page-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-8" id="left">
					<members-table></members-table>
				</div>
				<div class="col-sm-4" id="right">
					<ul>
						<li>
							<form role="search">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search members by name, email, IP, CID">
								</div>
								<button type="submit" class="btn btn-default" style="display:none;">Submit</button>
							</form>
						</li>
						<div style="display:none;" ng-init="getGraphs('opm,opw,opma')"></div>
						<li>
							<div class="panel panel-default">
								<div class="panel-heading">{{graphs.opw.desc}}</div>
								<div class="panel-body">
									<a ng-click="viewGraph(graphs.opw.lg,graphs.opw.desc)" href=""> 
										<img ng-src="{{graphs.opw.sm}}" style="width:100%"></img>
									</a>
								</div>
							</div>
						</li>
						<li>
							<div class="panel panel-default">
								<div class="panel-heading">{{graphs.opm.desc}}</div>
								<div class="panel-body">
									<a ng-click="viewGraph(graphs.opm.lg,graphs.opm.desc)" href=""> 
										<img ng-src="{{graphs.opm.sm}}" style="width:100%"></img>
									</a>
								</div>
							</div>
						</li>
						<li>
							<div class="panel panel-default">
								<div class="panel-heading">{{graphs.opma.desc}}</div>
								<div class="panel-body">
									<a ng-click="viewGraph(graphs.opma.lg,graphs.opma.desc)" href=""> 
										<img ng-src="{{graphs.opma.sm}}" style="width:100%"></img>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- /.page-content -->