<render-navbar></render-navbar>
<div id="page-content-wrapper">
	<div class="page-content">
		<div class="container-fluid">
			
					<tabset id='tabset' tabs-type='cat'>
						<tab title="Orders" template-url="partials/pages/reporting/orders.html"></tab>
						<tab title="Activations" template-url="partials/pages/reporting/activations.html"></tab>
						<tab title="Versions" template-url="partials/pages/reporting/versions.html"></tab>
					</tabset>
		</div>
	</div>
</div>
</div>
<!-- /.page-content -->