<div class="modal-header">
    <h3 class="modal-title">{{newappVersion}} {{appVersion.version}} : ID {{appVersion.id}}
	    <button type="button" class="close pull-right" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
		</h3>
</div>
<div class="modal-body">
	<form name="myForm">
		<div class="form-group">
			<label for="version">Version Number</label>
			<input type="text" class="form-control" name="version" id="version" ng-model="appVersion.version">
		</div>
		<div class="form-group">
			<label for="hash_string">Hash</label>
			<input type="text" class="form-control" name="hash_string" id="hash_string" ng-model="appVersion.hash_string">
		</div>
		<div class="form-group">
			<md-input-container flex>
				<label for="comments">Comments</label>
				<textarea type="text" class="form-control" name="comments" id="comments" ng-model="appVersion.comments" ng-keydown="autoExpand($event)" ng-init="onShow()"  aria-describedby="bodyHelpBlock"></textarea>
			</md-input-container>
		</div>
		<div class="form-group">
			<label for="deactivation_reason">Deactivation Reason</label>
			<input type="text" class="form-control" name="deactivation_reason" id="deactivation_reason" ng-model="appVersion.deactivation_reason">
			<span id="bodyHelpBlock" class="help-block">Make this an alert?</span>
		</div>
		<div class="form-group">
			<label for="active">Active?</label>
			<select class="form-control" name="active" id="active" ng-model="appVersion.active" ng-options="state.id as state.title for state in booleanActive">
			</select>
		</div>
		<div class="form-group">
			<label for="target">Target</label>
			<select class="form-control" name="target" id="target" ng-model="appVersion.tool_or_payload">
				<option>Tool</option>
				<option>Payload</option>
			</select>
		</div>
		<div class="form-group">
			<label for="app_id">App</label>
			<select class="form-control" name="app_id" id="app_id" ng-model="appVersion.app_id" ng-options="app.id as app.title for app in app_list">
			</select>
		</div>
		<div class="form-group">
			<label for="added_by">Added by</label>
			<input type="text" class="form-control disabled" name="added_by" id="added_by" ng-model="appVersion.added_by" disabled>
		</div>
		<div class="form-group">
			<label for="game_version">Game Version</label>
			<input type="text" class="form-control" name="game_version" id="game_version" ng-model="appVersion.game_version">
		</div>
	</form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-show="myForm.$dirty" ng-click="save()">
		<span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
		{{saveLabel}}</button>
	<button class="btn btn-primary" type="button" ng-show="myForm.$dirty" ng-click="revertForm()">
		<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
		Revert</button>
    <button class="btn btn-primary" type="button" ng-click="toggleAct()">
		<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
		{{toggleActLabel}}</button>
    <button class="btn btn-danger" type="button" ng-click="delete()">
		<span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span>
		Delete</button>
</div>