<div class="modal-header">
    <h3 class="modal-title">{{newunknownVersion}}
	    <button type="button" class="close pull-right" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
		</h3>
</div>
<div class="modal-body">
	<form name="myForm">
		<div class="form-group">
			<label for="vers_bytes">Version Bytes</label>
			<input type="text" class="form-control" name="vers_bytes" id="vers_bytes" ng-model="unknownVersion.vers_bytes">
		</div>
		<div class="form-group">
			<label for="date_added">Date Added</label>
			<input type="text" class="form-control" name="date_added" id="date_added" ng-model="unknownVersion.date_added">
		</div>
		<div class="form-group">
			<label for="last_use_attempt">Last Used</label>
			<input type="text" class="form-control" name="last_use_attempt" id="last_use_attempt" ng-model="unknownVersion.last_use_attempt">
		</div>
		<div class="form-group">
			<label for="use_count">Use Count</label> {{unknownVersion.use_count}}
		</div>
		<div class="form-group">
			<label for="submitter_email">Submitted by</label>: <a href="mailto:{{unknownVersion.submitter_email}}">{{unknownVersion.submitter_email}}</a>
		</div>
		<div class="form-group">
			<md-input-container flex>
				<label for="comments">Comments</label>
				<textarea type="text" class="form-control" name="comments" id="comments" ng-model="unknownVersion.comments" ng-keydown="autoExpand($event)" ng-init="onShow()"  aria-describedby="bodyHelpBlock"></textarea>
			</md-input-container>
		</div>
	</form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-show="myForm.$dirty" ng-click="save()">
		<span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
		{{saveLabel}}</button>
	<button class="btn btn-primary" type="button" ng-show="myForm.$dirty" ng-click="revertForm()">
		<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
		Revert</button>
    <button class="btn btn-primary" type="button" ng-click="register()">
		<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
		Register</button>
</div>