body, html {
  margin: 0;
  height:100%;
}
li{
    list-style-type: none;
}
ul{
	padding-left: 0px;
}
@media (min-width: 768px){
  #left {
    position: relative;
    left: 0;
    width: 75%;
  }
  
  #right {
    position: absolute;
    right: 0;
    width: 25%;
  }
}

#left {
}

#right {
}

.app-modal-window .modal-dialog{
	width: 95%;
}
.app-modal-window-max .modal-dialog.modal-lg{
	width: 95%;
}
.dropdown-menu>li>a{
	width: 100%;
	text-align: left;
}
.dim{
	opacity: 0.5;
}
.deactivated{
	background-color: lightsalmon;
}
.blacklisted{
	background-color: red;
}
/*/////// colouring //*/
nav.navbar.navbar-default{
	background-image: linear-gradient(to bottom,rgb(2, 32, 35) 0,rgb(2, 41, 38) 100%);
}
.navbar-default .navbar-brand{
	color: #FFF;
}
.navbar-default .navbar-nav>li>a{
	color: #EDF1F1;
}
.navbar-default .navbar-brand:hover{
	color: #BFFCFD;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #BFFCFD;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
	background-image: linear-gradient(to bottom,rgb(255, 255, 255) 0,rgba(255, 255, 255, 1) 100%);
}
.top-space{
	padding-top: 20px;
}
/* doesn't fix it. works for dashboard, but not logs page
.table {
	overflow-wrap: break-word;
	table-layout: fixed;
	}//*/

/* navbar dropdown on hover */
.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
}
/* collapse bar at diff width */
@media (max-width: 830px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* Graph zooming */
.panel-actions {
  margin-top: -20px;
  margin-bottom: 0;
  text-align: right;
}
.panel-actions a {
  color:#333;
}
.panel-fullscreen {
    display: block;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}
.chart-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width:80%;
	max-height:100%;
}

