<div class="panel panel-default">
	<!-- all versions-->
    <div class="panel-heading clearfix">
      	<b>Versions: Game ({{total}}{{isFiltered}})</b>
		<div class="btn-group pull-right">
			<a ng-click="viewVersion()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></a>
			<a ng-click="showFilter = !showFilter" class="btn btn-default btn-xs" aria-pressed="false" autocomplete="off"><span class="glyphicon glyphicon-filter"></span></a>
			<a ng-click="tableParams.reload()" class="btn btn-default btn-xs" aria-pressed="false" autocomplete="off"><span class="glyphicon glyphicon-refresh"></span></a>
		</div>
	</div>
	<div class="panel-body">
		<!-- table -->
		<div class="table-responsive">
			<table ng-table="tableParams" class="table table-condensed table-hover" show-filter="showFilter">
			    <tr ng-repeat="version in $data track by version.game_id" ng-class="{'' : version.is_supported == 1, 'dim' : version.is_supported == 0}">
			        <td title="'Name'" filter="{ game_name: 'text'}" sortable="'game_name'" >{{version.game_name}}</td>
			        <td title="'String'" filter="{ vers_string: 'text'}" sortable="'vers_string'">{{version.vers_string}}</td>
			        <td title="'Bytes'" filter="{ vers_bytes: 'text'}" sortable="'vers_bytes'">{{version.vers_bytes}}</td>
			        <td title="'Activations'">{{version.activations}}</td>
			        <td><a href="" ng-click="viewVersion(version.game_id)"><span class="glyphicon glyphicon-eye-open"></span></a></td>
			     </tr>
			</table>
		</div>
	</div>
</div>